*emergency
    **review
        ***consciousness
            ****well-done
            ****to-improve
        ***breathing
            ****well-done
            ****to-improve
        ***blood-circulation
            ****well-done
            ****to-improve

    #Emergency release + transportation
    **release
        ***well-done
        ***to-improve
    **stability
        ***well-done
        ***to-improve
    **laying-in-the-rover
        ***well-done
        ***to-improve

    #Spine axis immobilization
    **stable-transportation
        ***well-done
        ***to-improve
    **position-of-the-victim
        ***well-done
        ***to-improve
    **extrication-collar
        ***well-done
        ***to-improve

    #External haemorrhage
    **stable-transportation
        ***well-done
        ***to-improve
    **position-of-the-victim
        ***well-done
        ***to-improve
    **compression
        ***well-done
        ***to-improve

    #Unconsciousness/Spacesuit removal
    **stable-transportation
        ***well-done
        ***to-improve
    **helmet-removal
        ***well-done
        ***to-improve
    **lsp
        ***well-done
        ***to-improve
    **breathing-monitoring
        ***well-done
        ***to-improve

    #Heart attack/Breathing stop
    **stable-transportation
        ***well-done
        ***to-improve
    **position-of-the-victim
        ***well-done
        ***to-improve
    **heart-massage
        ***well-done
        ***to-improve
    **insufflations
        ***well-done
        ***to-improve
    **defibrillator
        ***well-done
        ***to-improve

    #Bone traum
    **stable-transportation
        ***well-done
        ***to-improve
    **sling
        ***well-done
        ***to-improve
    **splint
        ***well-done
        ***to-improve

*displacement
    **departure
    **paused
    **resumed
    **arrival

*objectives
    **one
    **two
    **three
    **four
    **five

*engineering-check
    **beginning
    **end
    **water-tank
        ***beginning
        ***end

*eva-status
    **beginning
    **end
